/*
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
* {
    margin: 0;
    padding:0;
}
body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:100%;
    height:100vh;
    background-color: #A9A9A9;
    background-blend-mode:multiply;
    padding-top: 45px;
    
}
.menu {
    max-width: 1180px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    font-size: xx-large;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.nav {
    max-width: 60%;
    font-size: 16px;
}
.link {
    text-decoration: none;
    padding:10px 20px;
    color:white;
}
.link:hover {
    border:1px solid white;
    border-radius: 50px;
}
.main-heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300 ;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    color:#fff;
    margin-top: 220px;
    margin-bottom: 40px;
    letter-spacing: 9px;
}
.header-main-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 ;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    color:#fff;
    margin:0 auto;
    max-width:600px;
    line-height: 2;
    margin-bottom: 225px;
}
.header-link {
    margin:0 auto;
    width:30px;
    height:30px;
    background:#19bd9a;
    text-align: center;
    border-radius:50px;
    padding:5px;
}
.header-link a {
    color:#fff;
    text-decoration: none;
}

/*  */
.this-is-bouncy {
    max-width:840px;
    max-height:490px;
    margin:0 auto;
    padding:80px 0 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.this-is-bouncy-text {
    padding: 33px 0 26px;
    display: flex;
    flex-direction: column;
}
.this-is-bouncy-text-head {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 9px;
    margin-bottom: 45px;
    color:#333b46;
}
.this-is-bouncy-text-text {
    max-width:470px;
    font-weight: 400;
    line-height: 2;
    color:#81868e;
    margin-bottom: 36px;
}
.this-is-bouncy-text-link {
    text-decoration: none;
    padding:10px 20px;
    color:#333b46;
    border:1px solid #333b46;
    border-radius:50px;
}
.this-is-bouncy-text-link:hover {
    background:#333b46;
    color:#fff;
}

/*  about us */ 

.details-about-bouncy {
    max-height:620px;
    background:#f3f3f3;
    padding-top: 80px;
    padding-bottom: 100px;
}
.details-about-bouncy-head {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 9px;
    margin-bottom: 45px;
    color:#333b46;
    text-align:center;
}
.details-about-bouncy-text {
    max-width:470px;
    font-weight: 400;
    line-height: 2;
    color:#81868e;
    margin:0 auto;
    margin-bottom: 60px;
    text-align:center;
}
.details-about-bouncy-icons {
    max-width:225px;
    display:flex;
    justify-content: space-around;
    margin:0 auto;
    margin-bottom: 60px;
}
.details-about-bouncy-icons-bg {
    background-color:#81868e;
    width:55px;
    height: 55px;
    border-radius:50px;
}
.details-about-bouncy-icons-bg:hover {
    background-color:#19bd9a;
    cursor:pointer;
}
.details-about-bouncy-icons-bg:nth-child(1){
    background-image: url(../images/icon1.png);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center center;
}
.details-about-bouncy-icons-bg:nth-child(2){
    background-image: url(../images/icon2.png);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center center;
}
.details-about-bouncy-icons-bg:nth-child(3){
    background-image: url(../images/icon3.png);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center center;
}
.creative-ideas {
    max-width:967px;
    display: flex;
    margin:0 auto;
    justify-content: space-around;
}
.creative-ideas-left-block {
    margin-right: 120px;
}
.creative-ideas-left-block-head {
    font-size:16px;
    font-weight: 400;
    color:#464646;
    margin-bottom: 40px;
}
.creative-ideas-left-block-text {
    font-weight: 400;
    color:#81868e;
    line-height: 2;
}
.creative-ideas-right-block-text {
    margin-top: 56px;
    font-weight: 400;
    color:#81868e;
    line-height: 2;
}
.featured-projects {
    padding-top: 80px;
}
.featured-projects-head {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 9px;
    margin-bottom: 45px;
    color:#333b46;
    text-align:center;
}
.featured-projects-text {
    max-width:470px;
    font-weight: 400;
    line-height: 2;
    color:#81868e;
    margin:0 auto;
    margin-bottom: 60px;
    text-align:center;
}
.featured-projects-menu {
    max-width:100%;
    height:319px;
    display: flex;
    flex-direction: row;
}

/**/
.featured-projects-menu-wrapper:nth-child(1) {
    width:50%;
}
.featured-projects-menu-wrapper:nth-child(2) {
    width:25%;
}
.featured-projects-menu-wrapper:nth-child(3) {
    width:25%;
}
.featured-projects-menu-wrapper {
    position:relative;
}

.featured-projects-menu-elem-text {
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -72px;
    color:#fff;
    font-size:20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
}

.featured-projects-menu-elem_1 {
    background-image:url(../images/slide1.png) ;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    background-color: #696969;
    background-blend-mode:multiply;
}
.featured-projects-menu-elem_2 {
    background-image:url(../images/slide2.png) ;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    background-color: #696969;
    background-blend-mode:multiply;
}
.featured-projects-menu-elem_3 {
    background-image:url(../images/slide3.png) ;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    background-color: #696969;
    background-blend-mode:multiply;
}
.featured-projects-menu-wrapper:hover .featured-projects-menu-elem-text {
    display:none;
}
.featured-projects-menu-elem_1:hover {
    background-color: #fff;
    background-blend-mode:normal;
}
.featured-projects-menu-elem_2:hover {
    background-color: #fff;
    background-blend-mode:normal;
}
.featured-projects-menu-elem_3:hover {
    background-color: #fff;
    background-blend-mode:normal;
}
.work-bg {
    height:112px;
    background-image:url(../images/greenbg.png);
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.work-bg-wrapper {
    max-width:1030px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.work-bg-text {
    color:#fff;
    margin-top: 50px;
}
.work-bg-link {
    text-decoration: none;
    padding:12px 25px;
    border:1px solid #fff;
    color:#fff;
    border-radius: 50px;
    margin-top: 38px;
}
.work-bg-link:hover {
    background:#333b46;
    color:#fff;
}

/* Services */

.services {
    padding-top: 80px;
}
.services-head {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 9px;
    margin-bottom: 45px;
    color:#333b46;
    text-align:center;
}
.services-text {
    max-width:470px;
    font-weight: 400;
    line-height: 2;
    color:#81868e;
    margin:0 auto;
    margin-bottom: 60px;
    text-align:center;
}
.our-services {
    max-width:1030px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-services {
    list-style-type: none;
}
.list-services li {
    background-color: #81868e;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    margin-top: 17px;
}
.list-services li:hover  {
    background-color: #19bd9a;
}
.list-services li:nth-child(1){
    background-image:url(../images/repair.png);
    background-position: center center;
    background-repeat:no-repeat;
    background-size:auto;
}
.list-services li:nth-child(2){
    background-image:url(../images/design.png);
    background-position: center center;
    background-repeat:no-repeat;
    background-size:auto;
}
.list-services li:nth-child(3){
    background-image:url(../images/joystik.png);
    background-position: center center;
    background-repeat:no-repeat;
    background-size:auto;
}
.list-services li:nth-child(4){
    background-image:url(../images/socket.png);
    background-position: center center;
    background-repeat:no-repeat;
    background-size:auto;
}























